html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}
footer,
main,
menu,
section {
  display: block;
}
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  color: inherit;
}
a:active,
a:hover {
  outline-width: 0;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
  vertical-align: middle;
}

body,
html {
  font-family: Roboto, serif;
  font-size: 16px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 36px;

}
h2 {
  font-size: 30px;
  letter-spacing: 2px;
}
h3 {
  font-size: 24px;
  letter-spacing: 2px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, serif;
  font-weight: 400;
  margin: 10px 0;
}

.tre-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}
.tre-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
:disabled * {
  pointer-events: none;
}

.tre-bar {
  width: 100%;
  overflow: hidden;
}
.tre-center .tre-bar {
  display: inline-block;
  width: auto;
}
.tre-bar .tre-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.tre-bar {
  position: static;
  float: left;
}
.tre-bar .tre-button {
  white-space: normal;
}
.tre-bar-block .tre-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.tre-bar-block.tre-center .tre-bar-item {
  text-align: center;
}

.tre-bar:after,
.tre-bar:before,
.tre-container:after,
.tre-container:before {
  content: "";
  display: table;
  clear: both;
}
.tre-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}
.tre-hide {
  display: none !important;
}
.tre-show {
  display: block !important;
}
@media (max-width: 600px) {
  .tre-hide-small {
    display: none !important;
  }
}
@media (min-width: 993px) {
  .tre-hide-medium {
    display: none !important;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .tre-hide-medium {
    display: none !important;
  }
}

.tre-top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.tre-display-container:hover {
  display: block;
}


.tre-container {
  padding: 0.01em 16px;
}
.tre-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.tre-left-align {
  text-align: left !important;
}


.tre-center {
  text-align: center !important;
}


.tre-padding-large {
  padding: 12px 24px !important;
}

.tre-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.tre-left {
  float: left !important;
}
.tre-right {
  float: right !important;
}
.tre-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.tre-black {
  color: #fff !important;
  background-color: #000 !important;
}
.slideshow-img {
  object-fit: cover;
  object-position: 40% 50%;
  height: 38rem;
  width: 100%;
  overflow: hidden;
  filter: brightness(40%);
}

.tampere-hema {
  font-family: Roboto, serif;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}
.historical-martial-arts {
  font-family: Roboto, serif;
  font-size: 2.35rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-block-start: 0;
}
@media screen and (max-width: 768px) {
  .tampere-hema {
    font-size: 4rem;
  }
  .historical-martial-arts {
    font-size: 1.5rem;
  }
}
.svg-logo {
  margin-left: 1rem;
  margin-top: -1rem;
  width: 11rem;
  height: auto;
}
.main-title-container {
  margin-top: 11rem;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 964px) {
  .main-title-container {
    margin-top: 10rem;
    flex-direction: column;
  }
}

.content-fluidi-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.content-row > * {
  flex: 1 1 50%;
}

@media screen and (max-width: 960px) {
  .content-row {
    flex-direction: column;
  }

  .content-row-reverse {
    flex-direction: column-reverse;
  }
}
.content-column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.content-column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.text-content {
  padding: 2rem;
}
.img-content {
  width: 100%;
  height: auto;
  padding: 1rem;
  overflow: hidden;
}
.row-img {
  width: 100%;
  height: 100%;
  margin: 3rem;
  object-fit: cover;
  width: 2560px;
  aspect-ratio: auto 2560/1440;
  height: 1440px;
  max-width: 100%;
  height: auto;
  max-height: 30rem;
}

.bolded-list {
  text-align: left;
}

.bolded-list li::marker {
  font-weight: bold;
}

li p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.rules {
  padding: 2rem;
  max-width: 1200px;
  text-align: center;
}

.footer-links {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-links a {
  flex: 1;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}

.hover-links a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: text-decoration-thickness 0.2s ease;
  color: inherit;
}

.hover-links a:hover {
  text-decoration-thickness: 2px;
}

.tre-dark-bg {
  color: #fff;
  background-color: #121212;
}

.subtitle {
  font-size: 1.2em; /* Adjusts font size */
  margin-top: 0.4em; /* Adds space between the title and subtitle */
}

.footer {
  color: #000;
  background-color: #f1f1f1;
  font-size: 18px;
  opacity: 0.6;
}