html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}
footer,
main,
menu,
section {
  display: block;
}
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  color: inherit;
}
a:active,
a:hover {
  outline-width: 0;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
  vertical-align: middle;
}

body,
html {
  font-family: Roboto, serif;
  font-size: 16px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 36px;

}
h2 {
  font-size: 30px;
  letter-spacing: 2px;
}
h3 {
  font-size: 24px;
  letter-spacing: 2px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, serif;
  font-weight: 400;
  margin: 10px 0;
}

.w3-image {
  max-width: 100%;
  height: auto;
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
:disabled * {
  pointer-events: none;
}

.w3-display-container {
  position: relative;
}

#main,
.w3-main {
  transition: margin-left 0.4s;
}
.w3-bar {
  width: 100%;
  overflow: hidden;
}
.tre-center .w3-bar {
  display: inline-block;
  width: auto;
}
.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.w3-bar .w3-dropdown-hover {
  position: static;
  float: left;
}
.w3-bar .w3-button {
  white-space: normal;
}
.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.w3-bar-block.tre-center .w3-bar-item {
  text-align: center;
}
.w3-block {
  display: block;
  width: 100%;
}
.w3-bar:after,
.w3-bar:before,
.w3-container:after,
.w3-container:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-row:after,
.w3-row:before {
  content: "";
  display: table;
  clear: both;
}
.w3-content {
  margin-left: auto;
  margin-right: auto;
}
.w3-content {
  max-width: 980px;
}
.w3-hide {
  display: none !important;
}
.w3-show,
.w3-show-block {
  display: block !important;
}
@media (max-width: 600px) {
  .w3-hide-small {
    display: none !important;
  }
}
@media (min-width: 993px) {
  .w3-hide-large {
    display: none !important;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .w3-hide-medium {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .w3-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.w3-top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.w3-top {
  top: 0;
}
.w3-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}
.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.w3-display-container:hover .w3-display-hover {
  display: block;
}
.w3-display-hover {
  display: none;
}
.w3-display-position {
  position: absolute;
}
.w3-row-padding {
  padding: 0 8px;
}
.w3-container {
  padding: 0.01em 16px;
}
.w3-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.w3-hover-opacity:hover,
.w3-opacity {
  opacity: 0.6;
}
.w3-opacity-max {
  opacity: 0.25;
}
.w3-opacity-min {
  opacity: 0.75;
}
.w3-greyscale-max,
.w3-hover-greyscale:hover {
  filter: grayscale(100%);
}
.w3-greyscale {
  filter: grayscale(75%);
}
.w3-greyscale-min {
  filter: grayscale(50%);
}
.w3-small {
  font-size: 12px !important;
}
.w3-medium {
  font-size: 16px !important;
}
.w3-large {
  font-size: 18px !important;
}
.w3-xlarge {
  font-size: 24px !important;
}
.w3-left-align {
  text-align: left !important;
}
.w3-right-align {
  text-align: right !important;
}
.w3-justify {
  text-align: justify !important;
}
.tre-center {
  text-align: center !important;
}
.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.w3-margin {
  margin: 16px !important;
}
.w3-margin-top {
  margin-top: 16px !important;
}
.w3-margin-left {
  margin-left: 16px !important;
}
.w3-margin-right {
  margin-right: 16px !important;
}
.w3-padding-small {
  padding: 4px 8px !important;
}
.w3-padding {
  padding: 8px 16px !important;
}
.w3-padding-large {
  padding: 12px 24px !important;
}
.w3-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.w3-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.w3-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.w3-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.w3-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.w3-padding-top-64 {
  padding-top: 64px !important;
}
.w3-padding-top-48 {
  padding-top: 48px !important;
}
.w3-padding-top-32 {
  padding-top: 32px !important;
}
.w3-padding-top-24 {
  padding-top: 24px !important;
}
.w3-left {
  float: left !important;
}
.w3-right {
  float: right !important;
}
.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.w3-hover-none:hover {
  background-color: transparent !important;
}
.w3-hover-none:hover {
  box-shadow: none !important;
}
.w3-hover-white:hover,
.w3-white {
  color: #000 !important;
  background-color: #fff !important;
}
.w3-black,
.w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}
.w3-grey,
.w3-hover-grey:hover {
  color: #fff !important;
  background-color: #121212 !important;
}
.w3-hover-light-grey:hover,
.w3-light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.w3-hover-text-white:hover,
.w3-text-white {
  color: #fff !important;
}
.w3-hover-text-black:hover,
.w3-text-black {
  color: #000 !important;
}
.w3-hover-text-grey:hover,
.w3-text-grey {
  color: #757575 !important;
}
.w3-hover-text-light-grey:hover,
.w3-text-light-grey {
  color: #f1f1f1 !important;
}

.slideshow-img {
  object-fit: cover;
  object-position: 40% 50%;
  height: 38rem;
  width: 100%;
  overflow: hidden;
  filter: brightness(40%);
}

.tampere-hema {
  font-family: Roboto, serif;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}
.historical-martial-arts {
  font-family: Roboto, serif;
  font-size: 2.35rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-block-start: 0;
}
@media screen and (max-width: 768px) {
  .tampere-hema {
    font-size: 4rem;
  }
  .historical-martial-arts {
    font-size: 1.5rem;
  }
}
.svg-logo {
  margin-left: 1rem;
  margin-top: -1rem;
  width: 11rem;
  height: auto;
}
.main-title-container {
  margin-top: 11rem;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 964px) {
  .main-title-container {
    margin-top: 10rem;
    flex-direction: column;
  }
}
iframe {
  width: 100vw;
  height: 100vh;
  border: none;
  overflow: hidden;
  display: block;
}

.content-fluidi-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.content-row > * {
  flex: 1 1 50%;
}

@media screen and (max-width: 960px) {
  .content-row {
    flex-direction: column;
  }

  .content-row-reverse {
    flex-direction: column-reverse;
  }
}
.content-column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.content-column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.text-content {
  padding: 2rem;
}
.img-content {
  width: 100%;
  height: auto;
  padding: 1rem;
  overflow: hidden;
}
.row-img {
  width: 100%;
  height: 100%;
  margin: 3rem;
  object-fit: cover;
  width: 2560px;
  aspect-ratio: auto 2560/1440;
  height: 1440px;
  max-width: 100%;
  height: auto;
  max-height: 30rem;
}

.bolded-list {
  text-align: left;
}

.bolded-list li::marker {
  font-weight: bold;
}

li p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.rules {
  padding: 2rem;
  max-width: 1200px;
  text-align: center;
}

.footer-links {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-links a {
  flex: 1;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}

.hover-links a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: text-decoration-thickness 0.2s ease;
  color: inherit;
}

.hover-links a:hover {
  text-decoration-thickness: 2px;
}

.tre-dark-bg {
  color: #fff;
  background-color: #121212;
}

.subtitle {
  font-size: 1.2em; /* Adjusts font size */
  margin-top: 0.4em; /* Adds space between the title and subtitle */
}